@charset "UTF-8";

/*
------------------------------------*/
html {
  font-size: 100%;
}

body{
  font-family: "Yu Gothic Medium", sans-serif;
  line-height: 1.7;
  color: #432;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

/*Header
------------------------------------*/
.header-logo {
  width: 210px;
  margin-top: 14px;
}